<div class="flyntComponent flyntComponent--{{ options.size }} {{ options.theme }} {{ options.no_margin == true ? '' : 'componentSpacing' }}" is="flynt-block-image-grid">
  <svg  class="topo-lines clay-lines"
        viewBox="0 0 940.2 612" style="enable-background:new 0 0 940.2 612;" xml:space="preserve">
<style type="text/css">
  .st0{fill:none;}
  .st1{fill:#FCB514;}
  .st2{fill:#AF5C5C;}
  .st3{fill:#369FB3;}
</style>
    <g>
      <g>
        <path class="st2" d="M23.4,67.2c8-4.5,16.7-8.1,25.2-11.6c22.1-8.9,45.2-15.5,68.6-20.1c32.9-6.5,66.7-8.7,100.1-6.2
			c41.6,3,82.5,13.5,120.5,30.6c22.2,10,43.3,22.1,63.3,35.9c22.9,15.9,43.1,34.4,63.8,52.9c36.2,32.3,76.8,59.6,120.8,80.1
			c37.2,17.4,76.5,29.9,116.8,37.4c33.4,6.2,67.5,9,101.4,8.5c25-0.4,50-2.6,74.7-6.7c12.1-2,24.4-4.3,36.2-7.8
			c0.5-0.2,1-0.3,1.5-0.5c3.1-0.9,1.8-5.8-1.3-4.8c-8.1,2.5-16.4,4.3-24.7,5.9c-22.1,4.4-44.5,7-67,8.2c-32.4,1.7-65,0.5-97.2-4
			c-39.7-5.5-78.6-15.8-115.7-30.8c-44.3-18-85.8-42.8-122.9-72.8c-21.2-17.2-40.4-36.7-61.9-53.6c-19.9-15.6-41.1-29.7-63.5-41.5
			c-37.8-20-78.8-33.5-121.1-39.4c-34.8-4.8-70-4.5-104.7,0.4C110.1,31,84.4,37.3,59.5,46.2c-12.6,4.5-25.2,9.6-37,15.8
			c-0.5,0.3-1.1,0.6-1.6,0.9C18.1,64.5,20.6,68.8,23.4,67.2L23.4,67.2z"/>
      </g>
    </g>
    <g>
      <g>
        <path class="st2" d="M20,90.4c-1.1,0.5,0.8-0.3,1.3-0.5c1.7-0.7,3.4-1.3,5.1-1.9c6.4-2.3,12.9-4.4,19.4-6.2
			c22.7-6.4,45.9-10.7,69.4-12.8c32.8-3,66.1-1.9,98.6,3.7c40.3,7,79.2,20.9,114.8,40.9c21,11.8,40.8,25.7,59.3,41.2
			c20.9,17.5,39.3,37.1,57.3,57.5c32.7,37,70.6,69.5,112.7,95.5c35.3,21.8,73.5,38.9,113.2,51c33.1,10.1,67.2,16.6,101.6,19.8
			c25.3,2.3,50.8,2.9,76.1,1.3c12.4-0.8,25.2-1.7,37.4-4.1c0.5-0.1,1.1-0.2,1.6-0.3c3.2-0.6,1.8-5.4-1.3-4.8
			c-8.5,1.7-16.8,2.5-25.5,3.3c-22.7,2-45.7,2.3-68.4,1c-33.1-1.8-66-6.8-98.1-14.9c-39.4-10-77.5-24.9-113.2-44.5
			c-42.4-23.3-81.1-53.1-114.8-87.7c-19.1-19.6-36.2-41-56.2-59.8c-17.9-16.9-37.3-32.4-58-45.9C317.1,99.1,278,82,237,72.3
			c-33.6-8-68.3-11.1-102.8-9.6c-26,1.1-52,4.8-77.3,11c-12.6,3.1-25.2,6.7-37.3,11.6c-0.7,0.3-1.4,0.6-2.1,0.9
			C14.5,87.4,17,91.7,20,90.4L20,90.4z"/>
      </g>
    </g>
    <g>
      <g>
        <path class="st2" d="M113,161.5c8.6-2,17.4-3.1,26.2-4c22.9-2.4,45.9-2.5,68.8-0.7c32.4,2.5,64.4,9.1,95.1,19.7
			c37.6,13.1,73,32.5,104.2,57.3c39.3,31.1,71.7,70.1,97.6,112.9c26.2,43.3,56.7,83.3,94,117.7c31.4,28.9,66.6,53.6,104.4,73.3
			c31.2,16.2,64.1,29.2,98,38.7c25,7,50.5,12.1,76.2,15.2c12.6,1.5,25.4,2.6,38.1,2.7c0.6,0,1.1,0,1.7,0c3.2-0.1,3.2-5.1,0-5
			c-8.9,0.2-17.8-0.5-26.6-1.3c-23.1-2-46-6-68.6-11.3c-32.6-7.8-64.4-18.7-94.9-32.7c-37.6-17.3-73.1-39.4-105.1-65.7
			c-38.2-31.5-71.2-68.9-98.3-110.2c-7.5-11.4-14.2-23.3-21.6-34.8c-7.2-11.3-14.9-22.3-23.1-32.9c-14.8-19.2-31.1-37.2-49-53.5
			c-30.6-27.8-65.6-50.4-103.7-66.5c-31.4-13.2-64.5-21.9-98.3-26.3c-25.3-3.3-50.8-4.1-76.3-2.4c-12.9,0.9-25.9,2.2-38.6,4.9
			c-0.6,0.1-1.1,0.2-1.7,0.4C108.6,157.4,109.9,162.2,113,161.5L113,161.5z"/>
      </g>
    </g>
</svg>

  <svg class="topo-lines blue-lines"
       viewBox="0 0 957.5 612" style="enable-background:new 0 0 957.5 612;" xml:space="preserve">
<style type="text/css">
  .st0{fill:none;}
  .st1{fill:#FCB514;}
  .st2{fill:#AF5C5C;}
  .st3{fill:#369FB3;}
</style>
    <g>
      <g>
        <path class="st3" d="M881.2,438.2c-3.3-7.5-7.4-14.7-11.6-21.7c-10.7-18-23.1-35.1-36.6-51.1c-19.3-22.6-41.2-43-65.2-60.5
			c-29.3-21.3-62-38-96.4-49.3c-42.1-13.8-86.7-19.5-131-18.3c-26.3,0.7-52.4,4.6-78.8,5.4c-25.2,0.7-50.4-0.4-75.3-3.6
			c-43.6-5.6-86.5-17.5-126.8-35.2c-33.1-14.5-64.5-32.9-93.5-54.3c-21.4-15.8-41.6-33.4-60.2-52.6c-6-6.2-11.8-12.6-17.4-19.1
			c-2.9-3.4-6.3-7.6-8.4-10.3c-0.4-0.5-0.7-0.9-1.1-1.4c-1.9-2.6-6.2-0.1-4.3,2.5C79.9,76.1,86,83,92.2,89.9
			c15.8,17.5,33,33.6,51.2,48.5c26.3,21.5,54.7,40.4,84.8,56.1c36.8,19.2,76.1,33.6,116.7,42.5c48.5,10.6,98.6,13.3,148,8.8
			c25.3-2.3,50.4-4.3,75.9-3.3c22.6,0.9,45,3.7,67.1,8.6c37.5,8.3,73.5,22.7,106.3,42.7c26.9,16.5,51.5,36.6,73.2,59.4
			c16.2,17,30.8,35.5,43.5,55.3c6.4,9.9,12.2,20.2,17.4,30.7c0.2,0.5,0.5,1,0.7,1.5C878.1,443.7,882.4,441.1,881.2,438.2
			L881.2,438.2z"/>
      </g>
    </g>
    <g>
      <g>
        <path class="st3" d="M869.1,450.8c-3.6-6.7-7.9-13-12.2-19.2c-11.2-16-23.9-31-37.6-44.9c-19.3-19.6-41-36.9-64.3-51.4
			c-28.6-17.7-59.9-31-92.6-39.3c-40.1-10.1-81.9-12.4-123-8.4c-24.5,2.4-48.5,7.9-72.9,10.6c-23.3,2.6-46.9,3.4-70.3,2.3
			c-41.4-1.9-82.4-9.9-121.6-23.5c-32-11.1-62.7-26-91.4-43.9c-21.3-13.3-41.5-28.3-60.3-45c-9.2-8.2-18.2-16.7-26.3-25.9
			c-0.4-0.4-0.7-0.8-1.1-1.2c-2.1-2.5-5.6,1.1-3.5,3.5c5.5,6.5,11.7,12.5,17.8,18.4c16.2,15.3,33.6,29.3,51.9,42
			c26,18.1,53.9,33.6,83.1,46c36,15.3,73.8,25.8,112.5,31.1c46.1,6.3,93,4.9,138.9-3c23.4-4,46.7-7.4,70.4-8.1
			c20.8-0.6,41.6,0.5,62.1,3.5c35.3,5.2,69.6,16.1,101.3,32.5c26,13.4,50.2,30.4,71.8,50c16,14.6,30.8,30.6,43.9,47.9
			c6.6,8.7,12.7,17.8,18.2,27.2c0.2,0.4,0.5,0.8,0.7,1.3C866.3,456.2,870.6,453.7,869.1,450.8L869.1,450.8z"/>
      </g>
    </g>
    <g>
      <g>
        <path class="st3" d="M915.8,543c-3.6-6.8-8-13.2-12.4-19.5c-11.4-16.3-24.3-31.5-38.2-45.6c-19.7-19.9-41.6-37.5-65.4-52.2
			c-29.1-18-60.9-31.5-94.1-39.9c-40.7-10.2-83.2-12.6-124.9-8.5c-24.9,2.4-49.2,8-74.1,10.8c-23.7,2.6-47.6,3.5-71.4,2.4
			c-42.1-1.9-83.8-10-123.6-23.8c-32.5-11.3-63.7-26.4-92.9-44.7c-21.6-13.5-42.2-28.8-61.3-45.7c-9.3-8.3-18.5-16.9-26.7-26.3
			c-0.4-0.4-0.7-0.8-1.1-1.2c-2.1-2.5-5.6,1.1-3.5,3.5c5.6,6.6,11.8,12.7,18.1,18.7c16.4,15.6,34.1,29.8,52.7,42.7
			c26.5,18.4,54.8,34.1,84.5,46.7c36.5,15.5,75,26.3,114.3,31.6c46.9,6.4,94.5,5,141.1-3c23.8-4.1,47.4-7.6,71.6-8.2
			c21.1-0.6,42.3,0.5,63.2,3.6c35.8,5.3,70.7,16.4,102.9,33c26.4,13.7,51,30.9,73,50.9c16.3,14.8,31.3,31.1,44.6,48.7
			c6.7,8.9,12.9,18,18.5,27.6c0.2,0.4,0.5,0.9,0.7,1.3C913,548.3,917.3,545.8,915.8,543L915.8,543z"/>
      </g>
    </g>
    <g>
      <g>
        <path class="st3" d="M780.1,592.3c-3.1-7-7-13.6-11-20.1c-10.2-16.8-21.9-32.6-34.7-47.4c-18.1-20.8-38.6-39.6-61-55.6
			c-27.6-19.7-58.2-35-90.5-45.3c-39.3-12.6-80.9-17.5-122.1-16.1c-24.7,0.8-49.2,4.8-74,5.7c-23.3,0.9-46.7,0.1-69.8-2.6
			c-40.9-4.8-81.2-15.5-119.2-31.7c-31-13.3-60.5-30.1-87.8-49.9c-20.2-14.6-39.2-30.8-56.7-48.6c-5.7-5.7-11.2-11.6-16.4-17.7
			c-1.8-2-3.5-4.1-5.2-6.1c-0.6-0.7-1.2-1.5-1.8-2.3c-0.3-0.3-1.5-1.9-1-1.2c-0.3-0.4-0.7-0.9-1-1.3c-1.9-2.6-6.2-0.1-4.3,2.5
			c5.1,6.9,10.9,13.4,16.7,19.7c14.9,16.2,31.2,31.2,48.4,45c24.7,19.8,51.3,37.1,79.4,51.4c34.7,17.7,71.7,30.8,109.8,38.8
			c45.4,9.4,92.2,11.5,138.3,6.8c23.7-2.4,47.3-4.5,71.2-3.7c20.8,0.7,41.6,3.1,62,7.4c35.1,7.5,68.9,20.6,99.7,39.1
			c25.2,15.1,48.2,33.6,68.6,54.7c15.2,15.7,29,32.8,41,51c6.1,9.2,11.5,18.7,16.5,28.5c0.2,0.4,0.4,0.9,0.6,1.3
			C777.1,597.8,781.4,595.2,780.1,592.3L780.1,592.3z"/>
      </g>
    </g>
</svg>

  <div class="container">
    <div class="row">
      <div class="col">
        {% if headline %}<h1>{{ headline }}</h1>{% endif %}
      </div>
    </div>


    <div class="imageGrid row">
      <div class="col-md-5 align-right">
        <div class="rock-in-1 image-grid-square square--1">
          <img class="figure-image {{ not gif ? 'lazyload' }}"
               src="{{ not gif ? imageOne.src|resizeDynamic(800) : imageOne.src }}"
            {% if not gif %}
              srcset="{{ placeholderImage(800, 800 / imageOne.aspect) }}"
              data-srcset="
                {{ imageOne.src|resizeDynamic(1920) }} 1920w,
                {{ imageOne.src|resizeDynamic(1440) }} 1440w,
                {{ imageOne.src|resizeDynamic(1320) }} 1320w,
                {{ imageOne.src|resizeDynamic(1024) }} 1024w,
                {{ imageOne.src|resizeDynamic(800) }} 800w,
                {{ imageOne.src|resizeDynamic(600) }} 600w,
                {{ imageOne.src|resizeDynamic(375) }} 375w"
              data-sizes="auto"
            {% endif %}
               alt="{{ imageOne.alt|e }}">
        </div>
        <a href="http://hikewildmontana.org" class="rock-in-2 button-square blue-button button-square-1 ">
          <h3 class="sans">Find a trail in your community</h3>
          <div class="learn-more-button">
            <span>Learn More</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="30.895" height="10.723" viewBox="0 0 30.895 10.723">
              <g id="Componente_3_51" data-name="Componente 3 – 51" transform="translate(1.5)">
                <path id="Trazado_115" data-name="Trazado 115" d="M943,5328.771h19.892" transform="translate(-943 -5323.409)" fill="none" stroke="#fffefa" stroke-linecap="round" stroke-width="3"/>
                <path id="Trazado_125" data-name="Trazado 125" d="M4.765.345a.689.689,0,0,1,1.194,0L10.63,8.47a.689.689,0,0,1-.6,1.032H.69a.689.689,0,0,1-.6-1.032Z" transform="translate(29.395 0) rotate(90)" fill="#fffefa"/>
              </g>
            </svg>
          </div>
        </a>
      </div>
      <div class="col-md-7 align-left">
        <a href="/our-work/where-we-work/" class="rock-in-3 button-square red-button button-square-2">
          <h3 class="sans">Discover the places where we work</h3>
          <div class="learn-more-button">
            <span>Learn More</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="30.895" height="10.723" viewBox="0 0 30.895 10.723">
              <g id="Componente_3_51" data-name="Componente 3 – 51" transform="translate(1.5)">
                <path id="Trazado_115" data-name="Trazado 115" d="M943,5328.771h19.892" transform="translate(-943 -5323.409)" fill="none" stroke="#fffefa" stroke-linecap="round" stroke-width="3"/>
                <path id="Trazado_125" data-name="Trazado 125" d="M4.765.345a.689.689,0,0,1,1.194,0L10.63,8.47a.689.689,0,0,1-.6,1.032H.69a.689.689,0,0,1-.6-1.032Z" transform="translate(29.395 0) rotate(90)" fill="#fffefa"/>
              </g>
            </svg>
          </div>
        </a>
        <div class="rock-in-4 image-grid-square square--2 ">
          <img class="figure-image {{ not gif ? 'lazyload' }}"
               src="{{ not gif ? imageTwo.src|resizeDynamic(800) : imageTwo.src }}"
            {% if not gif %}
              srcset="{{ placeholderImage(800, 800 / imageTwo.aspect) }}"
              data-srcset="
                {{ imageTwo.src|resizeDynamic(1920) }} 1920w,
                {{ imageTwo.src|resizeDynamic(1440) }} 1440w,
                {{ imageTwo.src|resizeDynamic(1320) }} 1320w,
                {{ imageTwo.src|resizeDynamic(1024) }} 1024w,
                {{ imageTwo.src|resizeDynamic(800) }} 800w,
                {{ imageTwo.src|resizeDynamic(600) }} 600w,
                {{ imageTwo.src|resizeDynamic(375) }} 375w"
              data-sizes="auto"
            {% endif %}
               alt="{{ imageOne.alt|e }}">
        </div>
        <div class="rock-in-5 image-grid-square square--3 ">
          <img class="figure-image {{ not gif ? 'lazyload' }}"
               src="{{ not gif ? imageThree.src|resizeDynamic(800) : imageThree.src }}"
            {% if not gif %}
              srcset="{{ placeholderImage(800, 800 / imageThree.aspect) }}"
              data-srcset="
                {{ imageThree.src|resizeDynamic(1920) }} 1920w,
                {{ imageThree.src|resizeDynamic(1440) }} 1440w,
                {{ imageThree.src|resizeDynamic(1320) }} 1320w,
                {{ imageThree.src|resizeDynamic(1024) }} 1024w,
                {{ imageThree.src|resizeDynamic(800) }} 800w,
                {{ imageThree.src|resizeDynamic(600) }} 600w,
                {{ imageThree.src|resizeDynamic(375) }} 375w"
              data-sizes="auto"
            {% endif %}
               alt="{{ imageOne.alt|e }}">
        </div>
      </div>
    </div>

  </div>
</div>
